@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rethink Sans';
    src: url('./assets/RethinkSans-Medium.ttf') format('truetype');
    font-weight: 400;
    /* Mapping Medium to normal/400 for general use, or 500 if preferred */
    font-style: normal;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('./assets/RethinkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Rethink Sans', sans-serif;
}

@layer utilities {
    .shimmer {
        background: linear-gradient(90deg,
                #f0f0f0 0%,
                #e0e0e0 50%,
                #f0f0f0 100%);
        background-size: 200% 100%;
        animation: shimmer 1.5s infinite;
    }
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}