@font-face {
    font-family: 'Rethink Sans';
    src: url('./assets/RethinkSans-Medium.ttf') format('truetype');
    font-weight: 400;
    /* Mapping Medium to normal/400 for general use, or 500 if preferred */
    font-style: normal;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('./assets/RethinkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Rethink Sans', sans-serif;
}