@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rethink Sans';
    src: url('./assets/RethinkSans-Medium.ttf') format('truetype');
    font-weight: 400;
    /* Mapping Medium to normal/400 for general use, or 500 if preferred */
    font-style: normal;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('./assets/RethinkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Rethink Sans', sans-serif;
}

/* Hide caret globally */
* {
    caret-color: transparent;
}

/* Show caret only on focused text inputs */
input:focus,
textarea:focus,
[contenteditable="true"]:focus {
    caret-color: auto;
}

@layer utilities {
    .bg-off-white {
        background-color: #f4f5f0;
    }

    .shimmer {
        background: linear-gradient(90deg,
                #f4f5f0 0%,
                #e0e0e0 50%,
                #f4f5f0 100%);
        background-size: 200% 100%;
        animation: shimmer 1.5s infinite;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

/* Firefox scrollbar support */
* {
    scrollbar-width: thin;
    scrollbar-color: #ff4f00 transparent;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}